* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --size-width: 60vw;
  --size-height: 500px;
}

header {
  position: relative;
  margin-bottom: 70px;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/jewel-min.gif");
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

.brand {
  text-align: center;
}

.brand>h1 {
  text-transform: uppercase;
  font-size: 7vmin;
  margin-bottom: 4px;
  font-family: "Crimson Text", serif;
  letter-spacing: 2px;
  text-shadow: -3px 0 0 rgba(255, 0, 0, 0.7), 3px 0 0 rgba(0, 255, 255, 0.7);
}

.brand>h2 {
  font-size: 4.5vmin;
  font-family: "Oswald", sans-serif;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.linha {
  display: flex;
  margin-top: 40px;
}

.legenda {
  font-family: "Crimson Text", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.carrossel-container {
  overflow: hidden;
  width: var(--size-width);
  height: var(--size-height);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.35);
}

.carrossel {
  width: calc(var(--size-width) * 3);
  display: flex;
  animation: sliding 12s infinite;
}

.carrossel:hover {
  animation-play-state: paused;
}

.carrossel>div {
  background-position: center;
  background-size: cover;
  height: var(--size-height);
  width: var(--size-width);
}

.gif {
  height: 400px;
  background-image: url("../assets/jewel-min.gif");
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  margin-top: 80px;
  margin-bottom: 70px;
}

.img-janela {
  background-image: url("https://images.unsplash.com/photo-1587900816865-ed9f3f255f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
}

.img-paisagem {
  background-image: url("https://images.unsplash.com/photo-1587825159137-0b606e25fe80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
}

.img-jarro {
  background-image: url("https://images.unsplash.com/photo-1587863609819-5d9a14bab7e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.img-insta {
  background-image: url("https://images.unsplash.com/photo-1587861344894-c55be78d7fa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
}

.img-bike {
  background-image: url("https://images.unsplash.com/photo-1556718205-1de7550f698d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
}

.img-flor {
  background-image: url("https://images.unsplash.com/photo-1554448326-fa887763def2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
}

.img-mulher {
  background-image: url("https://images.unsplash.com/photo-1520732821391-824fdfde16cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80");
}

.img-grupo {
  background-image: url("https://images.unsplash.com/photo-1531605568595-bf82a81d92d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
}

.img-solidao {
  background-image: url("https://images.unsplash.com/photo-1468866576576-de8a9bf61f92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=963&q=80");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(calc(var(--size-width) * -1));
  }

  65% {
    transform: translateX(calc(var(--size-width) * -1));
  }

  70% {
    transform: translateX(calc(var(--size-width) * -2));
  }

  98% {
    transform: translateX(calc(var(--size-width) * -2));
  }

  100% {
    transform: translateX(0);
  }
}